<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:10.250.6.33\\DEV2019,1433;Initial Catalog=SDIIS_Database_Staging_Merged_TestingDB;user id=cyca_sql;password=Password@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->	 
    <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:10.250.0.33\\DEV2019,14330;Initial Catalog=SDIISLatest3;user id=cyca_sql;password=Password@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->



    <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=SDIISBackup1;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
	  <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:10.250.0.33\\DEV2019,14330;Initial Catalog=SDIISLatest3;user id=cyca_sql;password=Password@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:10.250.0.33\\DEV2019,14330;Initial Catalog=SDIISLatest3;user id=cyca_sql;password=Password@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=SDIISBackup3;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />--> 
   <add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=SDIISBackup2;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>