<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="dsdmailer@gmail.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="dsdmailer@gmail.com" password="DSDM@iler" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/User/Login" timeout="2880" />
    </authentication>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845DCD8080CC91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dosdptestdb1;initial catalog=SDIIS_Database_Staging;persist security info=True;user id=SDIIS_User_Int;password=P@$$w0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=SDIIS_Database_Staging;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TUMELO-PC\SQLEXPRESS;initial catalog=SDIIS_Database_Staging_Merged;persist security info=True;user id=sa;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dosdptestdb1;initial catalog=SDIIS_Database_Staging;persist security info=True;user id=SDIIS_User_Int;password=P@$$w0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
     <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=SDIIS_Database_Staging;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=SDIIS_Database_Staging;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dosdptestdb1;initial catalog=SDIIS_Database_Staging;persist security info=True;user id=SDIIS_User_Int;password=P@$$w0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dosdptestdb1;initial catalog=SDIIS_Database_Staging_PCM;persist security info=True;user id=SDIIS_User_Int;password=P@$$w0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dosdptestdb1;initial catalog=SDIIS_Database_Staging;persist security info=True;user id=SDIIS_User_Int;password=P@$$w0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


	  <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HERMAN-341S\MYSQL_2012;Initial Catalog=SDIIS_Database_Staging;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HERMAN-341S\MYSQL_2012;Initial Catalog=SDIIS_Database_Staging_Cleaned;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


     <!--<add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=SDIISBackup2;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	 <add name="SDIIS_DatabaseEntities" connectionString="metadata=res://*/Models.SDIIS_DataModel.csdl|res://*/Models.SDIIS_DataModel.ssdl|res://*/Models.SDIIS_DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:10.250.0.33\\DEV2019,1433;Initial Catalog=SDIIS_Database_Staging_Merged_TestingDB;user id=cyca_sql;password=Password@1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  </connectionStrings>
    <!--<system.webServer>
        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
    </system.webServer>-->
</configuration>
